{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
    {{context.user.login}} Upload
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
	<div class="container">
		<form id="uploadform" action="#" method="post" enctype="multipart/form-data">
			<div class="form-group">
				{% block javascripts %}
					<script src="assets/js/upload.js"></script>
				{% endblock %}

				{% if saved == TRUE %}
					<p class="bg-success">Saved</p>
				{% endif %}

				{% include 'message.twig'%}
				
				<p><b>Choose a category</b></p>
				<select id="categories" name="categories" onChange="chooseUploadCategory()">
					<option value="apps">Apps</option>
					<option value="data">Data</option>
					<option value="publication">Publication</option>
					<option value="source-code">Source code</option>
				</select>
			</div>
			<div class="form-group">
				<p><b>Choose a file to upload</b></p>
				<p><input type="file" name="file_to_upload" accept=".apk, .ipa, .xlsx, .docx, .pdf, .txt, .zip"></p>
				<p><font color="red">Available extensions: <span id="allowedExtensions"></span></font></p>
			</div>
			<div class="form-group">
				<p><b>Author</b></p>
				<input id="author" type="text" name="author">
			</div>
			<div class="form-group">
				<p><b>Publication Year</b></p>
				<select id="yearpicker" name="publication-year"></select>
			</div>
			<div class="form-group">
				<p><b>Description</b></p>
				<textarea id="description" name="description" rows="5" cols="50"></textarea>
			</div>
			<div class="form-group">
				<p><b>Restriction</b></p>
				<input id="restriction" name="restriction" type="text"><br>
			</div>
			<div>
				<p><b>Information about the author</b></p>
				<textarea id="author-information" name="author-information" rows="3" cols="50"></textarea>
			</div>
			<div class="form-group">
				<button id="uploadbutton" type="submit" class="btn btn-primary btn-md" onclick="uploadButtonClick();">Upload</button>
			</div>
		</form>
	</div>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}